DEBUG=1
SECRET_KEY=django-insecure-development-key-ab-advocacia
DATABASE_URL=postgres://postgres:postgres@db:5432/ab_advocacia
ALLOWED_HOSTS=*

# Production recommendations (Railway)
# DEBUG=0
# ALLOWED_HOSTS=seuservico.up.railway.app,custom.com
# SECURE_SSL_REDIRECT=True
