DEBUG=1
SECRET_KEY=django-insecure-development-key-ab-advocacia
DATABASE_URL=postgres://postgres:postgres@db:5432/ab_advocacia
ALLOWED_HOSTS=*
DJANGO_SUPERUSER_USERNAME = admin
DJANGO_SUPERUSER_PASSWORD = Adv@2026
DJANGO_SUPERUSER_EMAIL= [admin@example.com]

# Production recommendations (Railway)
# DEBUG=0
# ALLOWED_HOSTS=seuservico.up.railway.app,custom.com
# SECURE_SSL_REDIRECT=True
